---
pageable: true
---
Year2: '<%= year %>'
Month2: '<%= month if defined?(month) %>'
Day2: '<%= day if defined?(day) %>'

Paginate2: <%= paginate %>
Article Count2: <%= page_articles.size %>
<% if paginate %>
Page Num2: <%= page_number %>
Num Pages2: <%= num_pages %>
Per Page2: <%= per_page %>
Page Start2: <%= page_start %>
Page End2: <%= page_end %>
Next Page2: '<%= next_page.url if next_page %>'
Prev Page2: '<%= prev_page.url if prev_page %>'
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <article class="<%= (i == 0) ? 'first' : '' %>">
    <h1><a href="<%= article.url %>"><%= article.title %></a> <span><%= article.date.strftime('%b %e %Y') %></span></h1>

    <%= article.summary %>

    <div class="more"><a href="<%= article.url %>">read on &raquo;</a></div>
  </article>
<% end %>
