---
pageable: true
per_page: 2
---
Tag1: <%= tagname %>

Paginate1: <%= paginate %>
Article Count1: <%= page_articles.size %>
<% if paginate %>
Page Num1: <%= page_number %>
Num Pages1: <%= num_pages %>
Per Page1: <%= per_page %>
Page Start1: <%= page_start %>
Page End1: <%= page_end %>
Next Page1: '<%= next_page.url if next_page %>'
Prev Page1: '<%= prev_page.url if prev_page %>'
<% end %>

<% if page_articles %>
  <% page_articles.each do |article| %>
    <li><a href="<%= article.url %>"><%= article.title %></a> <time><%= article.date.strftime('%b %e') %></time></li>
  <% end %>
<% end %>
