<!doctype html>
<html>
    <head></head>

    <body>

        <% if is_blog_article? %>

            <%= yield %>
            Url: <%= current_article.url %>
            Previous: <%= current_article.article_previous.try( :url ) %>
            Next: <%= current_article.article_next.try( :url ) %>

        <% else %>
            <%= yield %>
        <% end %>

    </body>

</html>
