<!doctype html>
<html>
  <head>
  </head>
  <body>
    <% if is_blog_article? %>
      <%= yield %>
      Url: <%= current_article.url %>
      Previous: <%= current_article.previous_article.try(:url) %>
      Next: <%= current_article.next_article.try(:url) %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
