<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= page_title %></title>
  <%= javascript_include_tag :modernizr %>
  <%= stylesheet_link_tag :app %>
</head>
<body>
  <div class="contain-to-grid">
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to_with_active top_nav_title[:title], top_nav_title[:target] %></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="left">
          <% top_nav_items.each do |item| %>
            <li><%= link_to_with_active item[:title], item[:target] %></li>
          <% end %>
        </ul>
      </section>
    </nav>
  </div>

  <header>
    <div class="row">
      <div class="large-12 columns">
        <div class="bar large-2 columns large-centered hide-for-small"></div>
        <h1><%= blog_name %> <small>by <%= blog_author %></small></h1>
      </div>
    </div>
  </header>

  <div id="container">
    <% if is_blog_article? %>
      <article class="row">
        <div class="large-12 columns">
          <time class="updated"><%= current_article.date.strftime('%b %e %Y') %></time>
          <h1 class="entry-title">
            <%= current_article.title %> 
          </h1>

          <div class="entry-content">
            <%= yield %>
          </div>
        </div>
      </article>
    <% else %>
      <%= yield %>
    <% end %>
  </div>

  <%= javascript_include_tag :app %>
</body>
</html>