---
pageable: true
per_page: 10
---
<% if paginate %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><a href="<%= prev_page.url %>">Previous page</a></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <h2><a href="<%= article.url %>"><%= article.title %></a> <span><%= article.date.strftime('%b %e') %></span></h2>
  <p><%= article.summary %></p>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><a href="<%= next_page.url %>">Next page</a></p>
  <% end %>
<% end %>
